# Week 8 - Exercises and Homework

## 1 - Table processing

A table of data is arranged as rows and columns, and each row corresponds to a data point. For example, consider the following table of grades of students from different subjects.

In [1]:
s = """idno,name,math,literature,physics,music
27-6234266,Domenic Been,62,71,51,81
32-8500006,Carmel Vondrach,58,62,60,61
46-4848244,Gabey Stanlock,63,51,50,83
40-4452613,Miner Spoure,61,53,55,87
49-8047324,Joanie Padbery,49,60,51,68"""

The data is given as a single string. The table can be extended as we like.

### (a)
Given a string storing a table of grades, as shown above, write a program that prints the class average for every subject, and every student's average score.

Use basic string methods such as `.split()`, `.strip()` etc. to extract the data as relevant.

Use the first line to extract the column headers.

**Expected output:**
```
Class averages by subject
math 58.6
literature 59.4
physics 53.4
music 76.0

Student averages
27-6234266 Domenic Been 66.25
32-8500006 Carmel Vondrach 60.25
46-4848244 Gabey Stanlock 61.75
40-4452613 Miner Spoure 64.0
49-8047324 Joanie Padbery 57.0
```

### (b)
The file `data_ex8_1.csv` has the complete data. Download this file from the course GitHub site into your working directory.

Load this file's entire contents into a string and repeat your work in (a).

Expected output:
```
Class averages by subject
math 58.19
literature 60.64
physics 50.3
music 69.05

Student averages
27-6234266 Domenic Been 66.25
32-8500006 Carmel Vondrach 60.25
< ... output truncated for brevity ... >
97-5658808 Perice Castri 59.75
18-4503877 Sophi Magarrell 66.0
```

### (c)

Write a function `class_average(data, subject)` that returns the class average for a given subject (same as the column's header). The parameter `data` is a string storing a table of data, as shown in part (a).

Example:

In [6]:
s = """idno,name,math,literature,physics,music
27-6234266,Domenic Been,62,71,51,81
32-8500006,Carmel Vondrach,58,62,60,61
46-4848244,Gabey Stanlock,63,51,50,83
40-4452613,Miner Spoure,61,53,55,87
49-8047324,Joanie Padbery,49,60,51,68"""

class_average(s, "math")

58.6

In [7]:
class_average(s, "music")

76.0

Rewrite your program in (b) using this function.

### (d)
Write a function `student_reports(data)` that returns a *nested dictionary* representing the same data, where keys are the id strings, and values are dictionaries with subjects and grades, as well as the student's average (see example below).

The function's parameter `data` is a string storing a table of data, as used above.

**Keep the function general.** It should not rely on the subject names given in the example. You can assume that the first columns are always "idno" and "name", but the other column names may be different.

Examples:

In [9]:
s = """idno,name,math,literature,physics,music
27-6234266,Domenic Been,62,71,51,81
32-8500006,Carmel Vondrach,58,62,60,61
46-4848244,Gabey Stanlock,63,51,50,83
40-4452613,Miner Spoure,61,53,55,87
49-8047324,Joanie Padbery,49,60,51,68"""

student_reports(s)

{'27-6234266': {'name': 'Domenic Been',
  'math': 62,
  'literature': 71,
  'physics': 51,
  'music': 81,
  'average': 66.25},
 '32-8500006': {'name': 'Carmel Vondrach',
  'math': 58,
  'literature': 62,
  'physics': 60,
  'music': 61,
  'average': 60.25},
 '46-4848244': {'name': 'Gabey Stanlock',
  'math': 63,
  'literature': 51,
  'physics': 50,
  'music': 83,
  'average': 61.75},
 '40-4452613': {'name': 'Miner Spoure',
  'math': 61,
  'literature': 53,
  'physics': 55,
  'music': 87,
  'average': 64.0},
 '49-8047324': {'name': 'Joanie Padbery',
  'math': 49,
  'literature': 60,
  'physics': 51,
  'music': 68,
  'average': 57.0}}

In [10]:
s ="""idno,name,art,music,philosopy,chemistry
40-3971025,Benedicta Bosman,69,54,59,48
95-1744075,Flemming Maypes,55,60,52,58
61-9831668,Philly Varty,70,63,37,61
13-2001830,Wallis Pilgram,61,38,45,38"""

student_reports(s)

{'40-3971025': {'name': 'Benedicta Bosman',
  'art': 69,
  'music': 54,
  'philosopy': 59,
  'chemistry': 48,
  'average': 57.5},
 '95-1744075': {'name': 'Flemming Maypes',
  'art': 55,
  'music': 60,
  'philosopy': 52,
  'chemistry': 58,
  'average': 56.25},
 '61-9831668': {'name': 'Philly Varty',
  'art': 70,
  'music': 63,
  'philosopy': 37,
  'chemistry': 61,
  'average': 57.75},
 '13-2001830': {'name': 'Wallis Pilgram',
  'art': 61,
  'music': 38,
  'philosopy': 45,
  'chemistry': 38,
  'average': 45.5}}

## 2 - Pick the numbers

The file `data_ex8_2.txt` contains a text with some numbers inserted between words. Download this file from the course GitHub site into your working directory.

Write a program that prints the **sum of all numbers** in the text.

**Expected output:**
```
89099
```

**Hints:**
* Read the entire file into a single string.
* Break the text into a list of words with the `split()` method.
* Check if each word consists solely of digits with the `isdigit()` method. If so, add the corresponding number to the total.
* Note that some numeric words will end with a period (`.`) or a comma (`,`). They should also be added up. Deal with them accordingly.

## 3 - Wholesale transactions

The file `data_ex8_3.csv` contains a table of annual sales by a wholesale supplier to various customers in various categories of goods. Download this file from the course GitHub site into your working directory.

The first rows of the data are as follows:
```
Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicacies
2,3,12669,9656,7561,214,2674,1338
2,3,7057,9810,9568,1762,3293,1776
2,3,6353,8808,7684,2405,3516,7844
1,3,13265,1196,4221,6404,507,1788
2,3,22615,5410,7198,3915,1777,5185
...
```

Here `Channel` is 1 for Hotel/Restaurant/Cafe type of customer, and 2 for Retailers. `Region` is either Lisbon (1), Oporto (2) or other (3).

Later columns show the annual total revenue in monetary units for every item category.

All the following exercises pertain to this particular data file. Open the file and read it line-by-line.

### (a)

Add up all revenue values from all customers to find the total revenue of the wholesale supplier.

Hint: Use the `.readline()` method of the file object to read the first line, then read the rest of the file in a `for`-loop.

**Expected output**:
```
11871937
```

### (b)
Write a program that adds up all revenues from customers with `Channel` value of 1 and `Region` value of 1 for the `Grocery` items.

**Expected output:**
```
237542
```

### (c) 
Write a function `total_revenue(channel, region, itemtype)` that returns the total revenue from customers from `channel` and `region` on the `itemtype` category of items.

**Examples:**

In [18]:
total_revenue(channel=1, region=1, itemtype="Grocery")

237542

In [19]:
total_revenue(channel=2, region=3, itemtype="Milk")

978684

Using this function, write a program that displays the following sales report.

(Hint: Use the Tab (`"\t"`) character to indent to the right.)

```
Revenue Report
==============
Channel 1
	Region 1
		 Fresh 761233
		 Milk 228342
		 Grocery 237542
		 Frozen 184512
		 Detergents_Paper 56081
		 Delicacies 70632
	Region 2
		 Fresh 326215
		 Milk 64519
		 Grocery 123074
		 Frozen 160861
		 Detergents_Paper 13516
		 Delicacies 30965
	Region 3
		 Fresh 2085912
		 Milk 459174
		 Grocery 526214
		 Frozen 520296
		 Detergents_Paper 102605
		 Delicacies 230435
Channel 2
	Region 1
		 Fresh 93600
		 Milk 194112
		 Grocery 332495
		 Frozen 46514
		 Detergents_Paper 148055
		 Delicacies 33695
	Region 2
		 Fresh 138506
		 Milk 174625
		 Grocery 310200
		 Frozen 29271
		 Detergents_Paper 159795
		 Delicacies 23541
	Region 3
		 Fresh 824627
		 Milk 978684
		 Grocery 1340727
		 Frozen 123187
		 Detergents_Paper 578308
		 Delicacies 159867
```

### (d)

Each row in the data indicates a unique customer. Write a function `best_customer(itemtype)` that returns the row where `itemtype` has the largest value.

Examples:

In [21]:
best_customer("Delicacies")

'1,3,36847,43950,20170,36534,239,47943\n'

In [22]:
best_customer("Milk")

'2,3,22925,73498,32114,987,20070,903\n'