# Week 8 - Exercises and Homework

## 1 - Table processing

A table of data is arranged as rows and columns, and each row corresponds to a data point. For example, consider the following table of grades of students from different subjects.

In [1]:
s = """idno,name,math,literature,physics,music
27-6234266,Domenic Been,62,71,51,81
32-8500006,Carmel Vondrach,58,62,60,61
46-4848244,Gabey Stanlock,63,51,50,83
40-4452613,Miner Spoure,61,53,55,87
49-8047324,Joanie Padbery,49,60,51,68"""

The data is given as a single string. The table can be extended as we like.

### (a)
Given a string storing a table of grades, as shown above, write a program that prints the class average for every subject, and every student's average score.

Use basic string methods such as `.split()`, `.strip()` etc. to extract the data as relevant.

Use the first line to extract the column headers.

**Expected output:**
```
Class averages by subject
math 58.6
literature 59.4
physics 53.4
music 76.0

Student averages
27-6234266 Domenic Been 66.25
32-8500006 Carmel Vondrach 60.25
46-4848244 Gabey Stanlock 61.75
40-4452613 Miner Spoure 64.0
49-8047324 Joanie Padbery 57.0
```

In [2]:
# solution
headers = s.split("\n")[0].split(",")
subjects = headers[2:]
data = s.split("\n")[1:]

# class averages in every subject
print("Class averages by subject")
for i,sub in enumerate(subjects):
    total = 0
    for row in data:
        lst = row.split(",")
        lst = lst[2:] # skip the id and name
        total += int(lst[i])
    print(sub, total/len(data))

print()
print("Student averages")
for row in data:
    lst = row.split(",")
    idno, name = lst[:2]
    grades = lst[2:]
    total = sum([int(x) for x in grades])
    print(idno, name, total/len(grades))

Class averages by subject
math 58.6
literature 59.4
physics 53.4
music 76.0

Student averages
27-6234266 Domenic Been 66.25
32-8500006 Carmel Vondrach 60.25
46-4848244 Gabey Stanlock 61.75
40-4452613 Miner Spoure 64.0
49-8047324 Joanie Padbery 57.0

### (b)
The file `data_ex8_1.csv` has the complete data. Download this file from the course GitHub site into your working directory.

Load this file's entire contents into a string and repeat your work in (a).

Expected output:
```
Class averages by subject
math 58.19
literature 60.64
physics 50.3
music 69.05

Student averages
27-6234266 Domenic Been 66.25
32-8500006 Carmel Vondrach 60.25
< ... output truncated for brevity ... >
97-5658808 Perice Castri 59.75
18-4503877 Sophi Magarrell 66.0
```

In [3]:
# solution
with open("data_ex8_1.csv") as f:
    s = f.read().strip()
    
headers = s.split("\n")[0].split(",")
subjects = headers[2:]
data = s.split("\n")[1:]

# class averages in every subject
print("Class averages by subject")
for i,sub in enumerate(subjects):
    total = 0
    for row in data:
        lst = row.split(",")
        lst = lst[2:] # skip the id and name
        total += int(lst[i])
    print(sub, total/len(data))

print()
print("Student averages")
for row in data:
    lst = row.split(",")
    idno, name = lst[:2]
    grades = lst[2:]
    total = sum([int(x) for x in grades])
    print(idno, name, total/len(grades))

Class averages by subject
math 58.19
literature 60.64
physics 50.3
music 69.05

Student averages
27-6234266 Domenic Been 66.25
32-8500006 Carmel Vondrach 60.25
46-4848244 Gabey Stanlock 61.75
40-4452613 Miner Spoure 64.0
49-8047324 Joanie Padbery 57.0
06-2459518 Zsazsa Shelford 58.0
35-7239913 Dallon Besnard 55.0
63-7712715 Colver Danielkiewicz 63.75
16-0378773 Lilli Roggerone 54.0
04-0828998 Philis Habbert 62.5
84-8664238 Howard Farney 61.25
59-7103403 Adara Southern 60.5
50-1336034 Bax Whiles 54.0
53-0435525 Gerome Skade 67.75
04-7757095 Janith Lindsay 58.5
32-2310582 Nathan Tilt 63.0
49-9767932 Trevor Hoggins 60.0
47-4087703 Koressa Merrall 67.0
68-3466140 Hilton Van Vuuren 65.25
03-9174358 Demetris Yare 56.5
14-8569680 Malorie Rigden 46.75
06-1148581 Jeniffer Bisp 54.0
78-7735038 Libby Shortall 53.5
33-7615591 Hailey Blomfield 56.25
01-3377637 Eugenia Mordey 54.25
01-4681700 Allis Dufour 62.5
51-8820392 Hercule Whitmore 56.0
37-8668008 Maure Ditty 64.0
22-7818285 Roxanne Goare 53.0
76-9375991 Barb Melin 61.25
70-9061896 Kellia Turbard 60.75
09-3064687 Dale O'Lagene 49.5
93-9984100 Coreen Dongate 52.5
43-7640441 Chicky Creasy 58.0
87-1632149 Dane Sharphurst 63.75
91-1524711 Lory Trafford 60.5
38-9010265 Sheffield Groucutt 64.0
30-7706025 Delilah O'Crevy 60.5
76-7301665 Jennine Sandlin 63.5
64-2963914 Rosemary Wimbush 60.0
37-0162523 Adelind Nuzzetti 63.75
22-7681239 Jackelyn Sergant 59.5
43-0193918 Wallache Lewton 59.0
26-4326392 Jacky Zywicki 62.0
20-7921323 Quincy Killigrew 57.0
66-4928286 Evangeline Lung 65.75
05-8898294 Kassia Rumens 64.25
69-5776987 Leoine Loftin 53.25
22-9257090 Samson Seabrocke 50.75
99-5454981 Yvor Alleyn 55.5
44-0224192 Bobby Gambell 61.5
68-9308646 Star Breming 60.5
50-0376646 Lurline Prebble 61.75
65-9869687 Rufus Faldoe 63.75
58-5892136 Murry Dahlberg 50.0
58-9041710 Romonda Doxsey 57.25
68-1924853 Renaldo Meryett 71.25
20-1831473 Melvin Sausman 59.5
87-9366708 Niccolo Strutt 58.0
55-5355823 Maryjane Gaze 69.75
74-4852223 Ephrem Bristowe 60.5
97-3396835 Olenka Vann 54.25
28-9811319 Udale Hofer 58.5
97-5732059 Berkley Scrivin 61.0
59-1040545 Mill Missen 55.75
76-9653089 Ashley Leinweber 58.0
95-7144383 Ario Coppock. 68.0
07-2648873 Junette Djekic 53.75
61-4075330 Felipa Barizeret 60.5
53-8300487 Ira Borrie 60.5
03-8685229 Stevana Champneys 60.25
05-5021032 Clay Blanckley 60.75
23-6314763 Rozella Fogarty 58.5
39-8086678 Elysia MacElharge 62.5
03-3924804 Lura Streak 58.75
99-5251959 Tomkin Gaisford 56.75
30-2245437 Bert Summerscales 59.75
71-1841974 Patsy Baird 64.0
76-6232364 Janene Joslyn 55.5
31-1361522 Charlotta Walburn 57.5
18-5078355 Anjanette Sherwyn 58.75
60-4567152 Laughton Pilley 51.5
04-8522187 Stanford Wellstead 52.0
78-3494458 Bertie Jerwood 61.0
99-0226518 Griswold Boycott 53.5
16-7444172 Lyndell Frankel 55.0
18-3043555 Whitney Gowdridge 60.25
49-5302132 Bealle Robbins 60.5
56-0693856 Ailsun Szach 58.0
10-3921672 Hurlee Annott 62.0
80-1973172 Tudor Kiezler 59.25
02-0087352 Francisco Bambury 64.25
92-7062565 Keith Firby 58.5
64-4445589 Chrystel Ewart 65.75
18-1560214 Brander Durrant 53.25
91-1396398 Clayson Toma 68.75
39-5570882 Gallard Burston 62.5
69-7809678 Tate Pevsner 64.25
97-5658808 Perice Castri 59.75
18-4503877 Sophi Magarrell 66.0

### (c)

Write a function `class_average(data, subject)` that returns the class average for a given subject (same as the column's header). The parameter `data` is a string storing a table of data, as shown in part (a).

Example:

In [4]:
# solution
def class_average(data, subject):
    headers = data.split("\n")[0].split(",")
    table = data.split("\n")[1:]
    # get the column index of the subject
    subj_ind = headers.index(subject)
    total = 0
    for row in table:
        total += int(row.split(",")[subj_ind])
    return total/len(table)

In [5]:
s = """idno,name,math,literature,physics,music
27-6234266,Domenic Been,62,71,51,81
32-8500006,Carmel Vondrach,58,62,60,61
46-4848244,Gabey Stanlock,63,51,50,83
40-4452613,Miner Spoure,61,53,55,87
49-8047324,Joanie Padbery,49,60,51,68"""

class_average(s, "math")

58.6

In [6]:
class_average(s, "music")

76.0

Rewrite your program in (b) using this function.

### (d)
Write a function `student_reports(data)` that returns a *nested dictionary* representing the same data, where keys are the id strings, and values are dictionaries with subjects and grades, as well as the student's average (see example below).

The function's parameter `data` is a string storing a table of data, as used above.

**Keep the function general.** It should not rely on the subject names given in the example. You can assume that the first columns are always "idno" and "name", but the other column names may be different.

Examples:

In [7]:
# solution
def student_reports(s):
    headers = s.split("\n")[0].split(",")
    subjects = headers[2:]
    data = s.split("\n")[1:]
    result = dict()
    for row in data:
        row_lst = row.split(",")
        idno = row_lst[0]
        name = row_lst[1]
        grades = [int(x) for x in row_lst[2:]]
        result[idno] = {"name":name}
        result[idno].update(dict(zip(subjects,grades)))
        result[idno]["average"] = sum(grades)/len(grades)
    return result

In [8]:
s = """idno,name,math,literature,physics,music
27-6234266,Domenic Been,62,71,51,81
32-8500006,Carmel Vondrach,58,62,60,61
46-4848244,Gabey Stanlock,63,51,50,83
40-4452613,Miner Spoure,61,53,55,87
49-8047324,Joanie Padbery,49,60,51,68"""

student_reports(s)

{'27-6234266': {'name': 'Domenic Been',
  'math': 62,
  'literature': 71,
  'physics': 51,
  'music': 81,
  'average': 66.25},
 '32-8500006': {'name': 'Carmel Vondrach',
  'math': 58,
  'literature': 62,
  'physics': 60,
  'music': 61,
  'average': 60.25},
 '46-4848244': {'name': 'Gabey Stanlock',
  'math': 63,
  'literature': 51,
  'physics': 50,
  'music': 83,
  'average': 61.75},
 '40-4452613': {'name': 'Miner Spoure',
  'math': 61,
  'literature': 53,
  'physics': 55,
  'music': 87,
  'average': 64.0},
 '49-8047324': {'name': 'Joanie Padbery',
  'math': 49,
  'literature': 60,
  'physics': 51,
  'music': 68,
  'average': 57.0}}

In [9]:
s ="""idno,name,art,music,philosopy,chemistry
40-3971025,Benedicta Bosman,69,54,59,48
95-1744075,Flemming Maypes,55,60,52,58
61-9831668,Philly Varty,70,63,37,61
13-2001830,Wallis Pilgram,61,38,45,38"""

student_reports(s)

{'40-3971025': {'name': 'Benedicta Bosman',
  'art': 69,
  'music': 54,
  'philosopy': 59,
  'chemistry': 48,
  'average': 57.5},
 '95-1744075': {'name': 'Flemming Maypes',
  'art': 55,
  'music': 60,
  'philosopy': 52,
  'chemistry': 58,
  'average': 56.25},
 '61-9831668': {'name': 'Philly Varty',
  'art': 70,
  'music': 63,
  'philosopy': 37,
  'chemistry': 61,
  'average': 57.75},
 '13-2001830': {'name': 'Wallis Pilgram',
  'art': 61,
  'music': 38,
  'philosopy': 45,
  'chemistry': 38,
  'average': 45.5}}

## 2 - Pick the numbers

The file `data_ex8_2.txt` contains a text with some numbers inserted between words. Download this file from the course GitHub site into your working directory.

Write a program that prints the **sum of all numbers** in the text.

**Expected output:**
```
89099
```

**Hints:**
* Read the entire file into a single string.
* Break the text into a list of words with the `split()` method.
* Check if each word consists solely of digits with the `isdigit()` method. If so, add the corresponding number to the total.
* Note that some numeric words will end with a period (`.`) or a comma (`,`). They should also be added up. Deal with them accordingly.

In [10]:
# solution

with open("data_ex8_2.txt") as f:
    s = f.read()

total = 0
for x in s.split():
    if x.isdigit():
        total += int(x)
    elif x[:-1].isdigit():
        total += int(x[:-1])
print(total)

89099

## 3 - Wholesale transactions

The file `data_ex8_3.csv` contains a table of annual sales by a wholesale supplier to various customers in various categories of goods. Download this file from the course GitHub site into your working directory.

The first rows of the data are as follows:
```
Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicacies
2,3,12669,9656,7561,214,2674,1338
2,3,7057,9810,9568,1762,3293,1776
2,3,6353,8808,7684,2405,3516,7844
1,3,13265,1196,4221,6404,507,1788
2,3,22615,5410,7198,3915,1777,5185
...
```

Here `Channel` is 1 for Hotel/Restaurant/Cafe type of customer, and 2 for Retailers. `Region` is either Lisbon (1), Oporto (2) or other (3).

Later columns show the annual total revenue in monetary units for every item category.

All the following exercises pertain to this particular data file. Open the file and read it line-by-line.

### (a)

Add up all revenue values from all customers to find the total revenue of the wholesale supplier.

Hint: Use the `.readline()` method of the file object to read the first line, then read the rest of the file in a `for`-loop.

**Expected output**:
```
11871937
```

In [11]:
with open("data_ex8_3.csv") as f:
    header = f.readline()
    total = 0
    for line in f:
        total += sum([int(x) for x in line.strip().split(",")[2:]])
    print(total)

11871937

### (b)
Write a program that adds up all revenues from customers with `Channel` value of 1 and `Region` value of 1 for the `Grocery` items.

**Expected output:**
```
237542
```

In [12]:
# solution
with open("data_ex8_3.csv") as f:
    header = f.readline()
    total = 0
    for line in f:
        data = line.strip().split(",")
        r, c = data[:2]
        if c=="1" and r=="1" :
            total += int(data[4])
    print(total)

237542

### (c) 
Write a function `total_revenue(channel, region, itemtype)` that returns the total revenue from customers from `channel` and `region` on the `itemtype` category of items.

**Examples:**

In [13]:
# solution
def total_revenue(channel, region, itemtype):
    with open("data_ex8_3.csv") as f:
        header = f.readline().strip()
        item_index = header.split(",").index(itemtype)
        total = 0
        for line in f:
            row = line.strip().split(",")
            c = int(row[0])
            r = int(row[1])
            if c==channel and r==region :
                total += int(row[item_index])
    return total

print("Revenue Report")
print("==============")
for channel in [1,2]:
    print("Channel", channel)
    for region in [1,2,3]:
        print("\tRegion", region)
        for itemtype in ["Fresh","Milk","Grocery","Frozen","Detergents_Paper","Delicacies"]:
            print("\t\t",itemtype, total_revenue(channel, region, itemtype))

Revenue Report
==============
Channel 1
	Region 1
		 Fresh 761233
		 Milk 228342
		 Grocery 237542
		 Frozen 184512
		 Detergents_Paper 56081
		 Delicacies 70632
	Region 2
		 Fresh 326215
		 Milk 64519
		 Grocery 123074
		 Frozen 160861
		 Detergents_Paper 13516
		 Delicacies 30965
	Region 3
		 Fresh 2085912
		 Milk 459174
		 Grocery 526214
		 Frozen 520296
		 Detergents_Paper 102605
		 Delicacies 230435
Channel 2
	Region 1
		 Fresh 93600
		 Milk 194112
		 Grocery 332495
		 Frozen 46514
		 Detergents_Paper 148055
		 Delicacies 33695
	Region 2
		 Fresh 138506
		 Milk 174625
		 Grocery 310200
		 Frozen 29271
		 Detergents_Paper 159795
		 Delicacies 23541
	Region 3
		 Fresh 824627
		 Milk 978684
		 Grocery 1340727
		 Frozen 123187
		 Detergents_Paper 578308
		 Delicacies 159867

In [14]:
total_revenue(channel=1, region=1, itemtype="Grocery")

237542

In [15]:
total_revenue(channel=2, region=3, itemtype="Milk")

978684

Using this function, write a program that displays the following sales report.

(Hint: Use the Tab (`"\t"`) character to indent to the right.)

```
Revenue Report
==============
Channel 1
	Region 1
		 Fresh 761233
		 Milk 228342
		 Grocery 237542
		 Frozen 184512
		 Detergents_Paper 56081
		 Delicacies 70632
	Region 2
		 Fresh 326215
		 Milk 64519
		 Grocery 123074
		 Frozen 160861
		 Detergents_Paper 13516
		 Delicacies 30965
	Region 3
		 Fresh 2085912
		 Milk 459174
		 Grocery 526214
		 Frozen 520296
		 Detergents_Paper 102605
		 Delicacies 230435
Channel 2
	Region 1
		 Fresh 93600
		 Milk 194112
		 Grocery 332495
		 Frozen 46514
		 Detergents_Paper 148055
		 Delicacies 33695
	Region 2
		 Fresh 138506
		 Milk 174625
		 Grocery 310200
		 Frozen 29271
		 Detergents_Paper 159795
		 Delicacies 23541
	Region 3
		 Fresh 824627
		 Milk 978684
		 Grocery 1340727
		 Frozen 123187
		 Detergents_Paper 578308
		 Delicacies 159867
```

### (d)

Each row in the data indicates a unique customer. Write a function `best_customer(itemtype)` that returns the row where `itemtype` has the largest value.

Examples:

In [16]:
# Solution
def best_customer(itemtype):
    with open("data_ex8_3.csv") as f:
        header = f.readline().strip()
        item_index = header.split(",").index(itemtype)
        maxval = 0
        
        for line in f:
            data = line.strip().split(",")
            if int(data[item_index]) > maxval:
                maxval = int(data[item_index])
                maxline = line
        return(maxline)

In [17]:
best_customer("Delicacies")

'1,3,36847,43950,20170,36534,239,47943\n'

In [18]:
best_customer("Milk")

'2,3,22925,73498,32114,987,20070,903\n'