# Lists to dictionaries

Data on students are given as several lists, such as
```
names = ["Harry", "Ron", "Hermione", "Neville"]
dob = ["2001-03-12", "2002-04-30", "2005-12-11", "2004-01-23"]
major = ["CS", "Phys", "Law", "Botany"]
address = ["London", "Istanbul", "Sydney", "Urfa"]
```

Write a function named `student_dict()` that converts these lists into a single dictionary.

* The returned dictionary must have keys `"0000"`, `"0001"`, `"0002"` etc, which are set automatically. Note that these are strings, not integers.
* Each value must be a dictionary with keys `"name"`, `"dob"`, `"major"`, and `"address_city"`

For example, given the lists above, the function must generate:

In [1]:
# solution
def student_dict():
    i = 0
    D = dict()
    for n, d, m, a in zip(names, dob, major, address):
        D[f"{i:04d}"] = {"name":n, "dob":d, "major":m, "address_city":a}
        i += 1
    return(D)

    # alternative:
    
    # D = dict()
    # for i, n, d, m, a in enumerate(zip(names, dob, major, address)):
    #    D[f"{i:04d}"] = {"name":n, "dob":d, "major":m, "address_city":a}
    # return(D)

In [2]:
names = ["Harry", "Ron", "Hermione", "Neville"]
dob = ["2001-03-12", "2002-04-30", "2005-12-11", "2004-01-23"]
major = ["CS", "Phys", "Law", "Botany"]
address = ["London", "Istanbul", "Sydney", "Urfa"]

student_dict()

{'0000': {'name': 'Harry',
  'dob': '2001-03-12',
  'major': 'CS',
  'address_city': 'London'},
 '0001': {'name': 'Ron',
  'dob': '2002-04-30',
  'major': 'Phys',
  'address_city': 'Istanbul'},
 '0002': {'name': 'Hermione',
  'dob': '2005-12-11',
  'major': 'Law',
  'address_city': 'Sydney'},
 '0003': {'name': 'Neville',
  'dob': '2004-01-23',
  'major': 'Botany',
  'address_city': 'Urfa'}}

# Processing dictionaries

You are building a grade reporting system for a university. Student data is stored in a nested dictionary where student IDs are keys, and each value is another dictionary containing the student's name and three exam scores. Example:

```
students = {
    "1613981": {"name": "Harry Potter", "exam1":78, "exam2": 67, "exam3": 72},
    "9872388": {"name": "Hermione Granger", "exam1": 100, "exam2":100, "exam3":115},
    "2476892": {"name": "Ron Weasley", "exam1":50, "exam2": 45, "exam3": 63}
}
```

Write a function `generate_grade_report(students)` that prints a formatted report containing:
* Class Averages Section: Display the average score for each exam across all students
* Student Averages Section: Display each student's overall average (all three exams weighted equally)

Requirements:
* Student names must be reformatted from "FirstName LastName" to "LastName, F" format (last name, comma, space, first initial)
* All columns must be properly aligned
* Numerical values should be displayed with one decimal place
* The report should have clear section headers and formatting

The resulting report with the above input should look like:
```
==========================================
            CLASS GRADE REPORT            
==========================================

CLASS AVERAGES
--------------
Exam 1:      76.0
Exam 2:      70.7
Exam 3:      83.3

STUDENT AVERAGES
----------------
Potter, H         72.3
Granger, H       105.0
Weasley, R        52.7
==========================================
```

Hints:
* Use `.split()` to separate first and last names
* Use string indexing to get the first letter of the first name
* Think about how to collect all scores for each exam across students
* Consider using f-strings with width specifiers for alignment (e.g., `f"{value:>10}"`)

Examples:

In [3]:
# solution
def generate_grade_report(students):
    """
    Generates and prints a formatted grade report for a class.
    
    Parameters:
    - students: dictionary with student IDs as keys and dictionaries with
                'name', 'exam1', 'exam2', 'exam3' as values
    """
    
    # Initialize lists to collect exam scores
    exam1_scores = []
    exam2_scores = []
    exam3_scores = []
    
    # Collect all exam scores
    for student_id in students:
        student_data = students[student_id]
        exam1_scores.append(student_data["exam1"])
        exam2_scores.append(student_data["exam2"])
        exam3_scores.append(student_data["exam3"])
    
    # Calculate class averages for each exam
    exam1_avg = sum(exam1_scores) / len(exam1_scores)
    exam2_avg = sum(exam2_scores) / len(exam2_scores)
    exam3_avg = sum(exam3_scores) / len(exam3_scores)
    
    # Print report header
    print("=" * 42)
    print(f"{'CLASS GRADE REPORT':^42}")
    print("=" * 42)
    print()
    
    # Print class averages section
    print("CLASS AVERAGES")
    print("-" * 14)
    print(f"Exam 1:     {exam1_avg:5.1f}")
    print(f"Exam 2:     {exam2_avg:5.1f}")
    print(f"Exam 3:     {exam3_avg:5.1f}")
    print()
    
    # Print student averages section
    print("STUDENT AVERAGES")
    print("-" * 16)
    
    # Process each student
    for student_id in students:
        student_data = students[student_id]
        
        # Extract and reformat the name
        full_name = student_data["name"]
        name_parts = full_name.split()
        first_name = name_parts[0]
        last_name = name_parts[1]
        formatted_name = last_name + ", " + first_name[0]
        
        # Calculate student's average
        student_avg = (student_data["exam1"] + 
                      student_data["exam2"] + 
                      student_data["exam3"]) / 3
        
        # Print formatted student line
        print(f"{formatted_name:<15} {student_avg:6.1f}")
    
    print("=" * 42)

In [4]:
students = {
    "1613981": {"name": "Harry Potter", "exam1": 78, "exam2": 67, "exam3": 72},
    "9872388": {"name": "Hermione Granger", "exam1": 100, "exam2": 100, "exam3": 115},
    "2476892": {"name": "Ron Weasley", "exam1": 50, "exam2": 45, "exam3": 63}
}

generate_grade_report(students)

==========================================
            CLASS GRADE REPORT
==========================================

CLASS AVERAGES
--------------
Exam 1:      76.0
Exam 2:      70.7
Exam 3:      83.3

STUDENT AVERAGES
----------------
Potter, H         72.3
Granger, H       105.0
Weasley, R        52.7
==========================================

In [5]:
students = {
    "1613981": {"name": "Harry Potter", "exam1": 78, "exam2": 67, "exam3": 72},
    "9872388": {"name": "Hermione Granger", "exam1": 100, "exam2": 100, "exam3": 115},
    "2476892": {"name": "Ron Weasley", "exam1": 50, "exam2": 45, "exam3": 63},
    "6392347": {"name": "Neville Longbottom", "exam1": 30, "exam2": 21, "exam3": 38}
}

generate_grade_report(students)

==========================================
            CLASS GRADE REPORT
==========================================

CLASS AVERAGES
--------------
Exam 1:      64.5
Exam 2:      58.2
Exam 3:      72.0

STUDENT AVERAGES
----------------
Potter, H         72.3
Granger, H       105.0
Weasley, R        52.7
Longbottom, N     29.7
==========================================

# The Hardworking Ant - 3

As your programming skills grow, your old friend The Ant develops further requests.

As before, she travels over a straight line, and records a grain with an `o`, an empty space with a `.` (period). A grain stack is an unbroken chain of `o` characters.

The ant returns to nest only after she covered a complete stack, so you can assume that the record always ends with a period (`.`)

(a) The Ant wants to condense this information to the starting and ending locations of grain stacks, as a list of tuples. For example, given the string `..oo.ooo..oo..oooo.`, she wants the output `[(2,4), (5,8), (10,12), (14,18)]`.

Write a function `stack_locations(s)` that takes the input string `s`, and returns a list of tuples where the grain stack starts and ends. It should return an empty list if there are no grains in the input.

Hint: Use the `.find()` method to determine where the first grain is. Starting at this point, find the location of the first empty space. Append these values into a list. Repeat this until you have no more grains left.

In [6]:
# solution
def stack_locations(s):
    retval = []
    i1 = s.find("o")
    i2 = s.find(".",i1)
    while i1!=-1 and i2!=-1:
        retval.append((i1, i2))
        i1 = s.find("o",i2)
        i2 = s.find(".",i1)
    return retval

In [7]:
s = "..oo.ooo..oo..oooo."
stack_locations(s)

[(2, 4), (5, 8), (10, 12), (14, 18)]

In [8]:
s = "................"
stack_locations(s)

[]

In [9]:
s = ".o.o.o.o.o.......ooooooo."
stack_locations(s)

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10), (17, 24)]

(b) The ant sisters are happy with this detailed map. However, they want to to go directly to the largest stack. Write a function `largest_stack(s)` that takes the input string `s` and returns the starting location of the largest grain stack, and the number of grains in it. If there are more than one, it should return the nearest one. If there are no grains, it should return `None`

Hint: First call the `stack_locations()` function, and use its output to find out the size of each stack. Then use sorting to find the biggest stack. You will need to sort by size, and by the location.

In [10]:
# solution
def largest_stack(s):
    locs = stack_locations(s)
    if not locs:
        return None

    # Generate list of starting locations and stack size
    p = [(s, e-s) for s,e in locs]
    
    # sort by stack sizes
    sp1 = sorted(p, key=lambda x:x[1])
    
    # select largest stacks
    maxsize = sp1[-1][1]
    largest_stacks = [i for i in sp1 if i[1]==maxsize]
    
    # sort by location:
    sorted_largest = sorted(largest_stacks)
    return sorted_largest[0]

# alternative, with a trick:
    
# def largest_stack(s):
#    locs = stack_locations(s)
#    p = [(s, e-s) for s,e in locs]
#    # trick: sort by decreasing size, then by increasing location
#    sp1 = sorted(p, key=lambda x:(-x[1], x[0]))
#    return sp1[0]

In [11]:
s = "..oo.oooo..oo..oooo..oo."
largest_stack(s)

(5, 4)

In [12]:
s = "........"
largest_stack(s)

In [13]:
s = ".oo.oooooo.o......ooo...ooooo."
largest_stack(s)

(4, 6)